<p class="h-card vcard">
  I'm <span class="p-given-name">Cidney</span>. I've been a software engineer, visual artist, musician, writer, game designer, and various other roles as needed. Nowadays I mostly make games, but in the past I've been a full-stack web developer, graphic designer, transcriptionist, research assistant, and waitress. I have a computer science degree from one of those schools in Boston you've probably heard of, and spent years in the local LARP and circus communities. 
</p>
