<header class="post-header">
	<div class="header-sub-box">
	<div class="title-box">
  <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
	</div>
  </div>
	
  <p class="post-meta">
		<h3>
			<time datetime="{{ page.date | date: "%A, %B %d, %Y" }}">{{ page.date | date: "%A, %B %d, %Y" }}</time> 
		</h3>
	</p>

	{% include hcard-post.html %}
	{% if page.reply_link and page.reply_name %}
	<p>in reply to: <a class="u-in-reply-to" href="{{ page.reply_link }}">{{ page.reply_name }}</a></p>
	{% endif %}
	
</header>
