:root {
		--color-scheme: light dark;
		--background-color: #fff;
		--text-color: #000;
		--link-default-color: #0000ee;
		--visited-link-color: #551a8b;
		--form-background-color: #fff;
		--form-text-color: #000;
}

body {
		background-color: var(--background-color);
		color: var(--text-color);
		margin: auto;
		max-width: 100ch;
		padding: 5px;
}

a:link{
		color: var(--link-color);
}

a:visited{
		color: var(--visited-link-color);
}

img {
		max-width: 100%;
}

.h-card h2 {
		display: inline;
		font-size: 100%;
		font-weight: normal;
}

.h-card p {
		display: inline;
}

.h-card img {
		display: none;
}
