:root {
		--color-scheme: light dark;
		--background-color: #f9f9f9;
		--text-color: #202020;
		--link-color: #375cd8;
		--visited-link-color: #6052cf;
		--form-background-color: #f9f9f9;
		--form-text-color: #202020;
}
